div.profile div:first-child{
    /* border:1px solid red; */
    width:50%;
    height:100%
}
div.profile div:last-child{
    /* border:1px solid black; */
    width:50%;
    height:100%;
    background-color:black;
    color:white;
}